* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Goldman", cursive;
}
:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}
body {
  --hue: var(--hue-neutral);
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* background-color: hsl(var(--hue), 100%, 20%); */
  background-image: url(img-bg.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
}
header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h1 {
  align-items: center;
  color: rgb(151, 198, 251);

  font-size: 3rem;
}
.score {
  margin-top: 3rem;
}
body.correct {
  --hue: var(--hue-correct);
}
body.wrong {
  --hue: var(--hue-wrong);
}
.container {
  width: 60vw;
  max-width: 80%;
  background: #5a00ff;
  border-radius: 5px;
  padding: 1.5rem;
  box-shadow: 0px 0px 3px 8px #02ffff;
  font-weight: 900;
  font-size: 2rem;
}
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;
  margin: 2rem 0;
}
.btn {
  --hue: var(--hue, neutral);
  background: rgb(151, 198, 251);
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}
.btn.correct {
  --hue: var(--hue-correct);
  background-color: rgb(45, 170, 45);
}
.btn.wrong {
  --hue: var(--hue-wrong);
  background-color: #d20000;
  font-weight: 800;
}
.btn:hover {
  transform: scale(1.1);
}
.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.5rem 2rem;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
.score {
}
